{% extends "blog/base.html" %}
{% block content %}
    <div class="introduction">
        <img name = "spiderman" src="https://purepng.com/public/uploads/large/purepng.com-spidermanspider-manspidermansuperherocomic-bookmarvel-comicscharacterstan-leegamesmovie-1701528655702pzyrl.png" alt="關少偉" width="300"/>
        <h1>Welcome！</h1>
        <h2>關少偉 T12902307</h2>
        <p>Hi, I am an exchange student from Hong Kong at the National Taiwan University. My name is GUAN Shaowei, and my student ID is T12902307. I am currently studying in my third year.</p>
        <p>Spiderman 是我的頭貼</p>
        <p>Email: <a href="mailto:spiderman.guan@connect.polyu.hk" class="email">spiderman.guan@connect.polyu.hk</a></p>
    </div>
{% endblock content %}
